<html>
    {% load static widget_tweaks %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pick-Up NetWork</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container d-flex justify-content-center">
            <main>
                <div class="container">
                    <table class="table">
                        <thead>
                            <th>Product</th>
                            <th>Owner</th>
                            <th>Id</th>
                            <th class="text-end">status</th>
                            <th class="text-end">Action</th>
                        </thead>
                        <tbody>
                        {% for pro in all %}
                            <tr>
                                <td>{{pro.product_name}}</td>
                                <td>{{pro.name}}</td>
                                <td>{{pro.product_id}}</td>
                                <td class="text-end">
                                {% if pro.status %}
                                <span class="btn btn-success btn-sm disabled">Picked up</span>
                                {% else %}
                                <span class="btn btn-danger btn-sm disabled"><small>pending</small></span>
                                {% endif %}
                                </td>
                                <td class="text-end">
                                {% if pro.status %}
                                 <span class="btn btn-success btn-sm disabled">Picked up</span>
                                {% else %}
                                <a href="{% url 'approve' id=pro.id %}" class="btn btn-primary btn-sm">pick-up</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
</html>